body {
    background-color: gray;
}

.carousel-inner > .carousel-item > img {
    width: 640px;
    height: 360px;
    object-fit: contain;
}

.carousel-inner {
    background-color: black;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%;
    position: relative;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    transform: scale(1.75);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    box-sizing: border-box;
    transform: scale(1.75);
    cursor: pointer;
}

/*.delete_btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin-inline: auto;
    width: fit-content;
}*/
.delete_tooltip {
    position: absolute;
    
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

#loading_image_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 160px;
    margin-inline: auto;
    visibility: hidden;
}

.alert-success {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-inline: auto;
    width: fit-content;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}