body {
    background-color: gray;
}

.carousel-inner > .carousel-item > img {
    width: 640px;
    height: 360px;
    object-fit: contain;
}

.carousel-inner {
    background-color: black;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 90%;
    position: relative;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    transform: scale(1.75);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    box-sizing: border-box;
    transform: scale(1.75);
    cursor: pointer;
}

.delete_btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin-inline: auto;
    width: fit-content;
}